/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body{
 	background-color:#eeeeee;
 }

.centrer{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:35%;
  min-width: 150px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.home-photo{
    margin-top:-64px;
}
.nav-perso{
	margin:0px 40px;
}
.card{
  
}
.card-image {
 	position: relative;
    width: 100%;
    overflow: hidden;
    background: #000;
}
  
 .card-image img {
    position: absolute;
    display: block;
    height: 100%; /* all images at least fill the height */
    top: 50%; /* top, left, transform trick to vertically and horizontally center image */
    left: 50%;
  }
.home-card{
  height:150px !important;
}

.home-card p{
  padding:10px;
}
  .form-container{
    padding:0px 30px;
  }

  .message_success{
    background-color:#00c853; /* green accent-4 */
  }
  .bloc-padding{
    padding:20px 50px 35px 50px;
  }

  .article-img{
    padding:0px !important;
    margin-right:20px;
    margin-bottom:10px;
  }
  .contenu{
    text-align:justify;
  }
  .article-bandeau{
    margin:-20px -50px 0px -50px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: center
  }
  .article-header{
    padding-bottom:20px !important;
    margin-bottom:10px;
    border-bottom:1px solid #e0e0e0;
  }

  .article-presentation{
    font-size:1.2em;
    font-style: italic;
    text-align:justify;
  }
  .titre{
    margin-bottom: 0px;
    text-align:center;
  }
  .auteur{
    margin-top:10px;
    margin-left:80%;
    font-style: italic;

  }
  .margin-top{
    margin-top: 75px;
  }

  .card-content{
    height : 200px;
  }

  h5.small{
    font-size: 20px !important;
    font-weight: 300;
  }

  .commentaires-form{
    border-top: 3px solid #e0e0e0;
    background-color: #eeeeee
  }

  .justify{
    text-align:justify;
  }

  .commentaire{
    max-height: 150px;
  }

  .plus-commentaires{
    width:90%;
    margin:auto;
    margin-top:20px;
    height:30px;
    background-color: #eeeeee;
    border:2px solid #bdbdbd;
    border-radius: 10px;
    text-align: center;
  }
}
